# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
src/golang.org
src/github.com
pkg
test.go
hosts.txt.pid
xwproxy_*
bin/xwproxy
